# PyCharm
.idea/*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints

# Apple
.DS_Store

# Data files
db/*.csv
corpora/*.csv
corpora/*.jsonl
corpora/*.zip
corpora/*.gz
corpora-src/*.csv
corpora-src/*.gz
corpora-src/*.jsonl
